{% load static %}
<li class="catalog-item">
    <a href="detail.html" class="catalog-item__link">
        <div class="catalog-item__image-wrapper">
            <img src="{% static "img/catalog.png" %}" alt="" class="catalog-item__image" >
        </div>
        <h3 class="catalog-item__title">Ремонт “под ключ”</h3>
        <p class="catalog-item__description">
            Ремонт квартир, офисов, нежилых помещений “под ключ”. Составление сметы, договор...
        </p>
    </a>

    <div class="catalog-item__details">
        <div class="catalog-item__rating-block">
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item"></span>
        </div>
        <p class="catalog-item__comments-count">12 комментариев</p>
    </div>
</li>
