{% load static %}
{% for item in announcements %}
<li class="catalog-item">
    <a href="{% url 'main:detail' item.pk %}" class="catalog-item__link">
        <div class="catalog-item__image-wrapper">
            <img src="media/{{ item.photo_announcement }}" alt="" class="catalog-item__image" >
        </div>
        <h3 class="catalog-item__title">{{ item.name }}</h3>
        <p class="catalog-item__description">
            {{ item.description }}
        </p>
    </a>

    <div class="catalog-item__details">
        <div class="catalog-item__rating-block">
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item catalog-item__rating-item__checked"></span>
            <span class="catalog-item__rating-item"></span>
        </div>
        <p class="catalog-item__comments-count">12 комментариев</p>
    </div>
</li>
{% endfor %}
