<div class="comment">
    <div class="comment__owner-block">
        <div class="comment__owner-image-wrapper">
            <img src="/static/img/photo.png" alt="" class="comment__owner-image" />
        </div>

        <div class="comment__owner-info">
            <p class="comment__owner-name">Михаил Рябинин</p>
            {% include 'mainapp/components/rating.html' %}
        </div>
    </div>

    <div class="comment__text">
        Сделали ремонт квартиры для дочери с нуля. Качественная работа, высокая скорость. Бригада
        коммуникабельная, буду обращаться еще!
    </div>
</div>
