{% extends 'mainapp/base.html' %}
{% load static %}
{% block header %}
<div class="container">
	<div class="header__top">
		<a href="{% url 'main:main' %}">
			<img src="{% static "img/logo.png" %}" class="header__logo">
		</a>
		<div class="header__links only_mobile">
			<div class="login__links">
				{% if user.is_authenticated %}
				{% if user.is_superuser %}
				<a href="{% url 'main:logout' %}" class="login">Выход</a> |
				<a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="signup">{{ user }}</a>
				{% else %}
				<a href="{% url 'main:logout' %}" class="login">Выход</a> |
				<a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="signup">{{ user }}</a>
				{% endif %}
				{% else %}
				<a href="#" class="login myLinkModal">Войти</a> |
				<a href="#" class="signup myLinkModal1">Регистрация</a>
				{% endif %}
			</div>
		</div>
		<div class="header__selectors">
			<select size="1" name="city">
				<option value="0">Все города</option>
				<option value="1">Санкт-Петербург</option>
				<option value="2">Москва</option>
				<option value="3">Краснодар</option>
				<option value="4">Калининград</option>
			</select>
			<select size="1" name="radius">
				<option value="0">Все расстояния</option>
				<option value="1">25 км</option>
				<option value="2">50 км</option>
				<option value="3">150 км</option>
			</select>
			<select size="1" name="face">
				<option value="0">Все</option>
				<option value="1">Юр.лицо</option>
				<option value="2">Физ.лицо</option>
				<option value="3">ИП</option>
			</select>
			<select size="1" name="ch_price">
				<option value="0">Фильтровать по</option>
				<option value="2">Сначала новые</option>
				<option value="1">Сначала старые</option>
				<option value="3">По рейтингу</option>
			</select>
		</div>
	</div>
	<div class="ad_block mobile_top only_mobile">
		{% if user.is_authenticated %}
		{% if user.is_superuser %}
		<a href="{% url 'admin:index' %}" class="advetisement">
			Админка
		</a>
		<a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="signup">{{ user }}</a>
		{% else %}
		<a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="advetisement">
			Личный кабинет
		</a>
		{% endif %}
		{% else %}
		<a href="{% url 'main:main' %}" class="advetisement myLinkModal">
			Личный кабинет
		</a>
		{% endif %}
		<a href="#" class="favorites">
			<img src="{% static "img/heart.png" %}" alt="" class="favorites_icon">Избранное
		</a>
	</div>
	<div class="header__bottom">
		<div class="header__links">
			<div class="login__links">
				{% if user.is_authenticated %}
				{% if user.is_superuser %}
				<a href="{% url 'main:logout' %}" class="login">Выход</a> |
				<a href="{% url 'admin:index' %}" class="signup">Админ панель</a>
				{% else %}
				<a href="{% url 'main:logout' %}" class="login">Выход</a> |
				<a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="signup">{{ user }}</a>
				{% endif %}
				{% else %}
				<a href="#" class="login myLinkModal">Войти</a> |
				<a href="#" class="signup myLinkModal1">Регистрация</a>
				{% endif %}
			</div>
			<div class="ad_block">
				{% if user.is_authenticated %}
				{% if user.is_superuser %}
				<a href="{% url 'admin:index' %}" class="advetisement">
					Админка
				</a>
				{% else %}
				<a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="advetisement">
					Личный кабинет
				</a>
				{% endif %}
				{% else %}
				<a href="{% url 'main:main' %}" class="advetisement myLinkModal">
					Личный кабинет
				</a>
				{% endif %}
			</div>
		</div>
		<form class="header__search_form personal">
			Личный кабинет
		</form>
	</div>
	<form class="header__search_form personal top only_mobile">
		Личный кабинет
	</form>
</div>
{% endblock %}
{% block sidebar %}
<div class="category__filter">
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
	<a class="filter_attr" href="#">Ремонт</a>
</div>
{% endblock %}
{% block content %}
<div class="personal_info">
	<div class="top_info">
		<p>Ваши объявления будут видны до <span class="adv_end">31.02.21</span></p>
		<input class="blue_btn form_btn" type="submit" value="Продлить">
	</div>
	<div class="main_info">
		<div class="profile_avatar_wrapper">
			{% if user.uslugeuserprofile.photo_profile %}
			<img src="/media/{{ user.uslugeuserprofile.photo_profile }}" alt="{{ uslugeuserprofile.email }}"
				class="profile_avatar">
			{% else %}
			<img src="{% static "img/personal.png" %}" alt="" class="profile_avatar">
			{% endif %}
		</div>
		
		<div class="per_text">
			<div class="per_name bold">
				{% if user.uslugeuserprofile.name_profile %}
				{{ user.uslugeuserprofile.name_profile }} {{ user.uslugeuserprofile.surname_profile }}
				{% else %}
				{{user.email}}
				{% endif %}
			</div>
			<div class="per_long">
				{{ user.last_login }}
			</div>
			<div class="per_adv">
				Объявлений: <span class="bold">2</span>
			</div>
			<div class="per_tel bold">
				{% if user.uslugeuserprofile.phone_profile %}
				{{ user.uslugeuserprofile.phone_profile }}
				{% else %}
				+7(999) 999-99-99
				{% endif %}
			</div>
			<div class="per_email bold">
				{{ user.email }}
			</div>
		</div>
	</div>
	{% include '../inc/inc_profile_menu.html' %}

	<div id="Избранные объявления" class="tabcontent">
		<ul>
			<li class="detail_block">
				<div class="photo_block">
					<img src="{% static "img/detail.png" %}" alt="" class="detail_img">
					<a href="#" class="fav_link"><img src="{% static "img/heart.png" %}" alt=""></a>
				</div>
				<div class="description_block">
					<h1 class="detail_title">
						Ремонт “под ключ”
					</h1>
					<p class="price">
						от 10 000 руб.
					</p>
					<p class="description">
						Ремонт квартир, офисов, нежилых помещений “под ключ”. Составление сметы, договор составляем,
						своя бригада, проверенные материалы
					</p>
					<a href="#" class="location_link">
						Санкт-Петербург
					</a>
					<div class="owner_block">
						<img src="{% static "img/photo.png" %}" alt="">
						<p class="owner_info">
							Михаил Рябинин<br> <span class="bold tel">
								+7(911) 123-45-56
							</span>
						</p>
					</div>
			</li>
		</ul>
	</div>
	{% block placead %}
	{% endblock %}
	{% block editprofile %}
	{% endblock %}
	{% block listad %}
	{% endblock %}
</div>
{% endblock %}
{% block footer %}
<div class="container">
	<div class="footer__top">
		<a href="index.html">
			<img src="{% static "img/logo-white.png" %}" class="header__logo">
		</a>
		<a href="#" class="up_link">Вверх</a>
		<ul class="footer__menu_list">
			<li class="footer__menu_item">
				Безопасность
			</li>
			<li class="footer__menu_item">
				Правила
			</li>
			<li class="footer__menu_item">
				Пользовательское соглашение
			</li>
			<li class="footer__menu_item">
				Помощь и контакты
			</li>
			<li class="footer__menu_item">
				Цены
			</li>
			<li class="footer__menu_item">
				О нас
			</li>
		</ul>
	</div>
	<div class="footer__bottom">
		<p class="all-rights">
			Usluge © {% now "Y" %} by MadiSpace <span class="all-rights-span">
				All rights reserved
			</span>
		</p>
	</div>
</div>
{% endblock %}