<form method="post" action="#" class="profile_form">
    {% csrf_token %}
    <p>Сменить пароль</p>
    {{ pass }}
<!--    <div class="password">-->
<!--        <input class="form_input" type="password" id="password-input" placeholder="Новый пароль" name="password">-->
<!--        <a href="#" class="password-control"></a>-->
<!--    </div>-->
<!--    <div class="password">-->
<!--        <input class="form_input" type="password" id="password-input" placeholder="Повторите новый пароль" name="password">-->
<!--        <a href="#" class="password-control"></a>-->
<!--    </div>-->
<!--    <div class="password">-->
<!--        <input class="form_input" type="password" id="password-input" placeholder="Действующий пароль" name="password">-->
<!--        <a href="#" class="password-control"></a>-->
<!--    </div>-->
    <input class="blue_btn form_btn" type="submit" value="Сменить пароль">
</form>





