<!--<form method="post" action="#" class="profile_form">-->
<!--    <div class="profile_col-1">-->
<!--        {% csrf_token %}-->
<!--        <p>Сменить пароль</p>-->
<!--            <div class="password">-->
<!--                <input class="form_input" type="password" id="password-input" placeholder="Новый пароль" name="password">-->
<!--            </div>-->
<!--            <div class="password">-->
<!--                <input class="form_input" type="password" id="password-input" placeholder="Повторите новый пароль" name="password">-->
<!--            </div>-->
<!--            <div class="password">-->
<!--                <input class="form_input" type="password" id="password-input" placeholder="Действующий пароль" name="password">-->
<!--            </div>-->
<!--        <input class="blue_btn form_btn" type="submit" value="Сменить пароль">-->
<!--    </div>-->
<!--</form>-->
