/*Шрифты*/
/* 
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Regular.eot");
    src: local("Gilroy Regular"), local("Gilroy-Regular"),
        url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Regular.woff2") format("woff2"),
        url("Gilroy-Regular.woff") format("woff"),
        url("Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-ExtraboldItalic.eot");
    src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"),
        url("Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-ExtraboldItalic.woff2") format("woff2"),
        url("Gilroy-ExtraboldItalic.woff") format("woff"),
        url("Gilroy-ExtraboldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Bold.eot");
    src: local("Gilroy Bold"), local("Gilroy-Bold"),
        url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Bold.woff2") format("woff2"),
        url("Gilroy-Bold.woff") format("woff"),
        url("Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Black.eot");
    src: local("Gilroy Black"), local("Gilroy-Black"),
        url("Gilroy-Black.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Black.woff2") format("woff2"),
        url("Gilroy-Black.woff") format("woff"),
        url("Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Light.eot");
    src: local("Gilroy Light"), local("Gilroy-Light"),
        url("Gilroy-Light.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Light.woff2") format("woff2"),
        url("Gilroy-Light.woff") format("woff"),
        url("Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Semibold.eot");
    src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
        url("Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Semibold.woff2") format("woff2"),
        url("Gilroy-Semibold.woff") format("woff"),
        url("Gilroy-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Medium.eot");
    src: local("Gilroy Medium"), local("Gilroy-Medium"),
        url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Medium.woff2") format("woff2"),
        url("Gilroy-Medium.woff") format("woff"),
        url("Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-MediumItalic.eot");
    src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"),
        url("Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-MediumItalic.woff2") format("woff2"),
        url("Gilroy-MediumItalic.woff") format("woff"),
        url("Gilroy-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-BlackItalic.eot");
    src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"),
        url("Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-BlackItalic.woff2") format("woff2"),
        url("Gilroy-BlackItalic.woff") format("woff"),
        url("Gilroy-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-UltraLight.eot");
    src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"),
        url("Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-UltraLight.woff2") format("woff2"),
        url("Gilroy-UltraLight.woff") format("woff"),
        url("Gilroy-UltraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-RegularItalic.eot");
    src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"),
        url("Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-RegularItalic.woff2") format("woff2"),
        url("Gilroy-RegularItalic.woff") format("woff"),
        url("Gilroy-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-SemiboldItalic.eot");
    src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"),
        url("Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-SemiboldItalic.woff2") format("woff2"),
        url("Gilroy-SemiboldItalic.woff") format("woff"),
        url("Gilroy-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-HeavyItalic.eot");
    src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"),
        url("Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-HeavyItalic.woff2") format("woff2"),
        url("Gilroy-HeavyItalic.woff") format("woff"),
        url("Gilroy-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Extrabold.eot");
    src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
        url("Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Extrabold.woff2") format("woff2"),
        url("Gilroy-Extrabold.woff") format("woff"),
        url("Gilroy-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-BoldItalic.eot");
    src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"),
        url("Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-BoldItalic.woff2") format("woff2"),
        url("Gilroy-BoldItalic.woff") format("woff"),
        url("Gilroy-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-UltraLightItalic.eot");
    src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"),
        url("Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-UltraLightItalic.woff2") format("woff2"),
        url("Gilroy-UltraLightItalic.woff") format("woff"),
        url("Gilroy-UltraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-LightItalic.eot");
    src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"),
        url("Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-LightItalic.woff2") format("woff2"),
        url("Gilroy-LightItalic.woff") format("woff"),
        url("Gilroy-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Heavy.eot");
    src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
        url("Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Heavy.woff2") format("woff2"),
        url("Gilroy-Heavy.woff") format("woff"),
        url("Gilroy-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Thin.eot");
    src: local("Gilroy Thin"), local("Gilroy-Thin"),
        url("Gilroy-Thin.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Thin.woff2") format("woff2"),
        url("Gilroy-Thin.woff") format("woff"),
        url("Gilroy-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-ThinItalic.eot");
    src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"),
        url("Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-ThinItalic.woff2") format("woff2"),
        url("Gilroy-ThinItalic.woff") format("woff"),
        url("Gilroy-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
} */

/*Header*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button,
a:hover,
li,
button:hover {
    -moz-transition: all 0.1s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.container {
    padding: 0px 100px;
}

.header__top {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__selectors {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

select {
    font-family: "Gilroy", sans-serif;
    border: 1px solid #004da8 !important;
    padding: 10px 35px !important;
    color: #004da8 !important;
    font-size: 18px !important;
}

.signup {
    color: #004da8;
    font-weight: bold;
}

.login {
    color: #000;
}

.header__bottom {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad_block {
    display: block;
    margin-top: 15px;
}

.advetisement {
    border: 1px solid #004da8;
    padding: 10px 35px;
    color: #004da8;
    font-family: "Gilroy", sans-serif;
    background: none;
    font-size: 18px;
    margin-top: 12px;
    cursor: pointer;
}

.advetisement:hover {
    background: #004da8;
    color: #fff;
}

.header__search_form {
    background: #004da8;
    padding: 18px 35px;
    display: block;
    width: 70%;
}

.search_input {
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    width: 75%;
    padding: 10px;
    margin-right: 30px;
}

::placeholder {
    color: #fff;
}

.white_btn {
    background: #ffffff;
    color: #004da8;
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 10px 65px;
}

.white_btn:hover {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

/*Sidebar*/

.filter_attr {
    display: block;
    border: 1px solid #004da8;
    padding: 10px;
    color: #004da8;
    font-family: "Gilroy", sans-serif;
    background: none;
    font-size: 18px;
    margin-bottom: 12px;
    cursor: pointer;
}

.filter_attr:last-child {
    margin-bottom: 0;
}

.filter_attr:hover {
    background: #004da8;
    color: #fff;
}

.filter_attr:active {
    background: #004da8;
    color: #fff;
}

.sidebar {
    min-width: 150px;
    width: 20%;
    flex-shrink: 0;
    margin-right: 20px;
}

/*Main page*/

.page_body {
    flex-grow: 1;
}

/*Фильтр основной*/

.main__filter {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page_body-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__filter select {
    padding: 10px 65px;
}

.flex__container {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.blue_btn {
    background: #004da8;
    color: #fff;
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    border: 1px solid #004da8;
    font-size: 18px;
    padding: 10px 65px;
    cursor: pointer;
    display: block;
}

.blue_btn:hover {
    background: none;
    color: #004da8;
}

/*Товары и подкатегории*/

.catalog__block {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main_catalog {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    align-items: stretch;
    flex-grow: 1;
    margin: 0 0 20px;
}

/* .catalog_item {
    width: 40%;
    margin-right: 30px;
    margin-top: 30px;
} */

.subcategory_filter {
    width: 20%;
    margin-left: 20px;
    flex-shrink: 0;
}

.catalog_link {
    display: block;
}

.catalog_link_image_wrapper {
    width: 100%;
    /* padding-bottom: 100%; */
    position: relative;
    overflow: hidden;
}

.catalog_link_image_wrapper .catalog_img {
    /* position: absolute;
    min-width: 100%;
    min-height: 100%; */
    width: 100%;
}

.catalog_title {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
}

.catalog_description {
    color: #000000;
    font-size: 18px;
    margin: 5px;
}

.fa {
    color: #c4c4c4;
}

.checked {
    color: #f8a300;
}

.catalog_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog_com {
    color: #c4c4c4;
}

.subcat_checkbox {
    margin-top: 20px;
}

input[type="checkbox" i] {
    background-color: #f8a300;
    margin: 10px 20px;
}

.mainpage_subcat_checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.mainpage_subcat_checkbox:last-child {
    margin-bottom: 0;
}

.mainpage_subcat_checkbox input[type="checkbox"] {
    margin: 0 8px 0 0;
}

/*Футер*/

#footer {
    background: #000;
    color: #fff;
    margin-top: 70px;
    padding: 30px 0px;
}

.up_link {
    color: #fff;
    font-weight: bold;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__menu_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.all-rights {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.all-rights-span {
    margin-left: 30px;
}

.footer__bottom {
    display: block;
    margin: 0 auto;
}

/*Модальные окна*/
/*вход*/

#myModal {
    width: 610px;
    max-width: 90%;
    height: 480px;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}
#myModal #myModal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 5px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}
#myOverlay {
    z-index: 37;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

/*регистрация*/
#myModal1 {
    width: 610px;
    max-width: 90%;
    height: 720px;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}
#myModal1 #myModal__close1 {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 5px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}
#myOverlay1 {
    z-index: 37;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

/*добавить объявление*/
#myModal2 {
    width: 610px;
    max-width: 90%;
    height: 90%;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}
#myModal2 #myModal__close2 {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 5px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}
#myOverlay2 {
    z-index: 37;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.flex_form {
    display: flex;
    flex-direction: column;
}

.form_input {
    background: rgba(0, 77, 168, 0.5);
    height: 3em;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
}

.form_input:focus {
    background: rgba(0, 77, 168, 0.4);
    border: 1px solid rgba(0, 77, 168, 0.5);
    outline: none;
}

.form_input:last-child {
    margin-bottom: 0;
}

textarea.form_input {
    height: 5em;
    resize: none;
}

.form_map {
    min-height: 80px;
    /* margin-bottom: 10px; */
}

input.form_checkbox {
    text-align: left;
}

.password {
    position: relative;
    display: block;
}
.password-control {
    position: absolute;
    top: 40px;
    right: 30px;
    display: inline-block;
    width: 50px;
    height: 20px;
    background: url(../img/view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(../img/no-view.svg) 0 0 no-repeat;
}

/*Detail page*/

.detail_block {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.photo_block {
    position: relative;
    margin-right: 50px;
}

.fav_link {
    position: absolute;
    top: 10px;
    display: block;
    left: 80%;
}

.price {
    color: #004da8;
    font-weight: bold;
    font-size: 24px;
}

.detail_title {
    font-weight: bold;
    font-size: 36px;
    margin-top: 0px;
}

.location_link {
    color: #004da8;
    border-bottom: 1px dashed #004da8;
    background: url(../img/loc.png) no-repeat left center;
    padding-left: 25px;
}

.owner_block {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.bold {
    font-weight: bold;
}

.comments_block {
    margin-top: 50px;
}

.owner_block-com {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.rate_title {
    color: grey;
    font-size: 14px;
}

.com_desc {
    width: 50%;
}

.comments li {
    margin-top: 30px;
}

.leave-a-com {
    margin-top: 50px;
}

textarea.lac_txt {
    width: 50%;
    background: #eee;
    border: none;
}

.com_form-btn {
    margin: 10px 0px;
    width: 45%;
}

.com_submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

/*Личный кабинет*/

.personal {
    padding: 25px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.adv_end {
    font-weight: bold;
    color: #004da8;
}

.top_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top_info input {
    width: 30%;
}

.main_info {
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 50%; */
}

.per_tel {
    margin-top: 20px;
    font-size: 24px;
}

.per_email {
    font-size: 24px;
}

.per_name {
    font-size: 24px;
}

.per_long {
    font-size: 14px;
}

.per_adv {
    font-size: 14px;
}

/*Табы*/

.tab {
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    color: #004da8;
}

.tab button {
    display: block;
    background-color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    color: #004da8;
    border: 1px solid #004da8;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
}

.tab button:hover {
    background-color: #004da8;
    color: #fff;
}

.tab button.active {
    background-color: #004da8;
    color: #fff;
}

.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    border-top: none;
}

.adv_title {
    margin-top: 50px;
}

.profile_col-1 {
    width: 40%;
    margin-right: 20px;
}

/* .profile_col-1 select {
    width: 95%;
} */

.profile_col-1 {
    width: 55%;
}

.profile_form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.my_ads {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ads_review {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ads_options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.ads_options > * {
    margin-right: 20px;
}

.ads_options > *:last-child {
    margin-right: 0;
}

.ads_input_flex {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ads_input {
    flex: 1 0 auto;
    border: 1px solid #004da8;
    padding: 15px;
}

.ads_input {
    margin-right: 20px;
}

.ads_input::placeholder {
    color: #004da8;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
}

textarea {
    color: #004da8;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
}

.only_mobile {
    display: none;
}

.ads_options select {
    padding: 10px;
    font-size: 14px !important;
}

.ads_options input {
    padding: 10px;
    font-size: 14px !important;
    width: 10%;
}

.ads_options div input[type="checkbox" i] {
    padding: 10px;
    margin: 5px;
}

.ads_options div {
    font-size: 14px !important;
    width: 15%;
}

select.form_input {
    height: 50px;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.show-tel {
    color: #004da8 !important;
    border: 1px solid #004da8 !important;
    padding: 10px;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.favorites {
    display: flex;
    align-items: center;
    color: #004da8;
}

.profile_avatar_wrapper {
    position: relative;
    width: 120px;
    height: 0;
    padding-bottom: 120px;
    margin-right: 20px;
    border-radius: 50%;
}

.profile_avatar_wrapper .profile_avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 1400px) {
    select {
        padding: 10px 5px !important;
    }

    .search_input {
        border: none;
        background: none;
        border-bottom: 1px solid #fff;
        font-family: "Gilroy", sans-serif;
        font-size: 18px;
        width: 60%;
        padding: 10px;
        margin-right: 30px;
    }

    .main__filter select {
        padding: 10px 45px;
    }
}

@media (max-width: 1100px) {
    .container {
        padding: 10px;
    }

    .advetisement {
        padding: 10px 5px;
    }

    .footer__top {
        display: flex;
    }

    .footer__menu_list {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .header__selectors {
        display: none;
    }

    .header__bottom {
        display: none;
    }

    .only_mobile {
        display: block;
    }

    .mobile_top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar {
        display: none;
    }

    .subcategory_filter {
        display: none;
    }

    .top {
        margin-top: 30px;
    }

    .header__search_form {
        width: 95%;
    }

    .page_body {
        width: 100%;
    }

    .top_info {
        flex-direction: column;
    }

    .top_info input {
        width: 100%;
    }

    .main_info {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .footer__menu_list {
        display: block;
    }

    .tab button {
        width: 100%;
        margin: 10px 0px;
    }

    select,
    input,
    textarea {
        width: 100%;
        margin-top: 10px;
    }

    .com_form-btn {
        width: 100%;
    }

    .ads_review {
        flex-direction: column;
    }

    .ads_options div {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }

    .owner_block {
        width: 100%;
    }

    .form_input {
        margin: 5px;
        display: block;
    }

    select.form_input {
        margin: 10px 0px;
    }

    .profile_form {
        flex-direction: column;
    }

    .profile_col-1 {
        width: 100%;
    }

    .profile_col-1 {
        width: 100%;
    }

    .form_btn {
        margin: 5px;
        display: block;
        width: 95%;
    }

    .pofile_col-2 div {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .pofile_col-2 div input {
        width: 5%;
    }

    .main__filter {
        display: none;
    }

    .favorites_link {
        display: none;
    }

    .main_catalog {
        flex-direction: column;
        width: 100%;
    }

    .catalog_item {
        width: 100%;
        margin: 10px 0px;
    }

    .search_mob {
        margin-top: 20px;
        width: 95%;
        display: flex;
        padding: 10px;
    }

    .catalog__block {
        margin-top: 0px;
    }

    .search_mob .white_btn {
        padding: 10px;
        width: 25%;
    }

    .flex-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-mob select {
        margin-right: 10px;
    }

    .flex-mob a {
        color: #004da8;
    }

    .owner_block-com {
        width: 100%;
        flex-direction: column;
    }

    .com_desc {
        width: 100%;
    }

    textarea.lac_txt {
        width: 100%;
    }

    .com_submit {
        width: 100%;
        flex-direction: column;
    }

    .form_checkbox {
        width: 10px;
    }

    .password-control {
        top: 30px;
    }

    .detail_block {
        margin-top: 0px;
    }

    .desktop {
        display: none;
    }

    select.form_input {
        margin: 5px;
        width: 95%;
    }

    .flex_form div input[type="checkbox" i] {
        width: 10px;
    }
}

@media (max-width: 768px) {
    .detail_block {
        flex-direction: column;
    }
}

/*mobile filter*/

/*добавить объявление*/
#myModal3 {
    width: 700px;
    max-width: 90%;
    height: 600px;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
    color: #fff;
}
#myModal3 #myModal__close3 {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 5px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}
#myOverlay3 {
    z-index: 37;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.dark-form select {
    color: #fff !important;
    border: 1px solid #fff !important;
    background: #000 !important;
}

.emailFeedBackArea.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.is-invalid {
    border-color: #dc3545;
    background-position: right 0.75rem center, center right 1.75rem;
    background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* INVALID FEEDBACK */
.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.form-check-inline .form-check-input ~ .invalid-feedback {
    margin-left: 0.5em;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
    display: block;
}

.form-check-inline .form-check-input ~ .invalid-feedback {
    margin-left: 0.5em;
}

.is-invalid {
    background: #dc3545;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.messages {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.messages .success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

/*спасибо за регистрацию*/
#myModal4 {
    width: 610px;
    max-width: 90%;
    height: 200px;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}

#myModal4 #myModal__close4 {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 5px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}

#myOverlay4 {
    z-index: 37;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.user_profile_select {
    display: none;
}

.per_photo {
    width: 232px;
    height: 232px;
    border-radius: 100px;
}

.update_announcement_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
}
