{% extends 'authapp/index.html' %} {% load static %} {% block placead %}
<h3 class="adv_title">Добавить объявление</h3>
<form
    method="post"
    action="{% url 'main:create-ad' %}"
    class="login_form flex_form create_new_ad_from"
    enctype="multipart/form-data"
    novalidate
>
    {% csrf_token %}
    {{ form.errors }}
    <div class="user_profile_select">{{ form.user_id }}</div>
    {{ form.name }}
    {{ form.description }}
    <div class="ad_image_block"></div>
    {{ form.photo_announcement }}
    <select class="form_input ad_category_input">
        <option selected disabled="True">
            -- Выберите категорию --
        </option>
    </select>
    <select class="form_input ad_subcategory_input">
        <option selected disabled="True" class="ad_subcategory_text">
            -- Выберите подкатегорию --
        </option>
    </select>
    <div id="ads_by_subcategory_block"></div>
    {{ form.address }}
    <div class="form_map map" id='map'> 
    </div>
    <input
        id="create-new-ad"
        class="blue_btn form_btn"
        type="submit"
        value="Сохранить"
    />
</form>
{% endblock %}
