{% extends 'authapp/index.html' %} {% load static %} {% block placead %}
<h3 class="adv_title">Добавить объявление</h3>
<form
    method="post"
    action="{% url 'main:create-ad' %}"
    class="login_form flex_form create_new_ad_from"
    enctype="multipart/form-data"
    novalidate
>
    {% csrf_token %} {{ form.errors }}
    <div class="user_profile_select">{{ form.user_id }}</div>
    {{ form.name }} {{ form.description }}
    <div class="ad_image_block"></div>
    {{ form.photo_announcement }}
    <select class="form_input ad_category_input">
        <option selected disabled="True">-- Выберите категорию --</option>
    </select>
    <select class="form_input ad_subcategory_input">
        <option selected disabled="True" class="ad_subcategory_text">
            -- Выберите подкатегорию --
        </option>
    </select>
    <div id="ads_by_subcategory_block"></div>
    {{ form.address }}
    <div class="form_map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.058118409584!2d30.358355016070213!3d59.931177781873465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a5e66d51c5%3A0x6f00589ac258db97!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCz!5e0!3m2!1sru!2sru!4v1613214625240!5m2!1sru!2sru"
            width="100%"
            height="70"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
        ></iframe>
    </div>
    <input
        id="create-new-ad"
        class="blue_btn form_btn"
        type="submit"
        value="Сохранить"
    />
</form>
{% endblock %}
