{% extends 'mainapp/announcement_list.html' %}
{% load static %}
{% block editad %}
	<div id="announcement.name" class="tabcontent" style="display: block;">
		<h3 class="adv_title">Категория: {{ category.name }} > Подкатегория: {{ subcategory.name }}</h3>
		<h3 class="adv_title">{{ announcement.name }}</h3>

		<div class="my_ads">
			<p>Активно с <span class="adv_end">{{ announcement.created_at }}</span></p>
		</div>
		<div class="ads_review">
			<p class="catalog_rate">
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star checked"></span>
			<span class="fa fa-star"></span>
			</p>
			<p class="catalog_com">0 комментариев</p>
			<p class="bold">0 просмотра</p>
		</div>
		<form method="post"
			  id="update_announcement_form"
			  action="{% url 'mainapp:edit-announcement' announcement.id %}"
			  class="update_announcement_form"
			  enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.errors }}
			{{ user_services.management_form }}
			<div id="announcement_data" class="ads_by_subcategory_block" data-id="{{ announcement.id }}">
			{% for form in user_services.forms %}
				<div class="ads_options new_ad_options" data-id="{{ form.id.value }}">
					<div>
						{{ form.is_active }}
						<label id="firstlableform" class="label_text" for="option_{{ form.id.value }}">{{ form.name.value }}</label><br/>
					</div>
					{{ form.select_price }}
					<div class="ads_input_flex">
						{% if form.select_price.value == 1 %}
							<input
                                id="new_ad_fixed_price_${index}"
                                type="text"
                                class="ads_input ads_input_fixed"
                                placeholder="Цена"
                                style="display: block"
								value="{{ form.price_lower.value }}"
                            />
                            <input
                                id="new_ad_lower_price_${index}"
                                type="text"
                                class="ads_input ads_input_lower"
                                placeholder="Цена от"
                                style="display: none"
                            />
                            <input
                                id="new_ad_upper_price_${index}"
                                type="text"
                                class="ads_input ads_input_upper"
                                placeholder="Цена до"
                                style="display: none"
                            />
						{% endif %}
						{% if form.select_price.value == 2 %}
							<input
                                type="text"
                                class="ads_input ads_input_fixed"
                                placeholder="Цена"
                                style="display: none"
                            />
                            <input
                                type="text"
                                class="ads_input ads_input_lower"
                                placeholder="Цена от"
                                style="display: none"
                            />
                            <input
                                type="text"
                                class="ads_input ads_input_upper"
                                placeholder="Цена до"
                                style="display: none"
                            />
						{% endif %}
						{% if form.select_price.value == 3 %}
							<input
                                type="text"
                                class="ads_input ads_input_fixed"
                                placeholder="Цена"
                                style="display: none"
                            />
                            <input
                                type="text"
                                class="ads_input ads_input_lower"
                                placeholder="Цена от"
                                style="display: block"
								value="{{ form.price_lower.value }}"
                            />

                            <input
                                type="text"
                                class="ads_input ads_input_upper"
                                placeholder="Цена до"
                                style="display: block"
								value="{{ form.price_upper.value }}"
                            />
						{% endif %}
					</div>
					{{ form.select_currency }}
					{{ form.select_measurement }}
				</div>
			{% endfor %}
			</div>
			{{ form.name }}
			{{ form.description }}
			<div class="ad_image_block"></div>
			{{ form.photo_announcement }}
			<input class="blue_btn form_btn com_form-btn" type="submit" value="Сохранить">
		</form>
	</div>
<script>
	const csrf = document.getElementsByName("csrfmiddlewaretoken");
	const adId = document.getElementById("announcement_data");
	const name = document.getElementById("id_name");
	const description = document.getElementById("id_description");
	const photoAnnouncement = document.getElementById("id_photo_announcement");
	const updateForm = document.getElementById("update_announcement_form");

	updateForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const optionsArray = [];
    const adOptions = document.querySelectorAll(".new_ad_options");
    let isOptionsSelected = false;

    adOptions.forEach((item, index) => {
        const fixedPrice = item.getElementsByClassName("ads_input_fixed")[0];
        const lowerPrice = item.getElementsByClassName("ads_input_lower")[0];
        const upperPrice = item.getElementsByClassName("ads_input_upper")[0];
        const checkbox = item.getElementsByClassName("subcat_checkbox")[0];
        const priceSelector = item.getElementsByClassName(
            "new_ad_price_category"
        )[0];
        const adSelectPrice = item.getElementsByClassName("select_price")[0];
        const adSelectCurrency =
            item.getElementsByClassName("select_currency")[0];
        const adSelectMeasurement =
            item.getElementsByClassName("select_measurement")[0];

        const optionID = item.getAttribute("data-id");

        if (checkbox) {
            isOptionsSelected = true;

            switch (Number(priceSelector.value)) {
                case 1:
                    optionsArray.push({
                        id: optionID,
                        is_active: checkbox.checked,
                        select_price: adSelectPrice.value,
                        select_currency: adSelectCurrency.value,
                        select_measurement: adSelectMeasurement.value,
                        fixed_price: fixedPrice.value,
                    });
                    break;

                case 2:
                    optionsArray.push({
                        id: optionID,
                        is_active: checkbox.checked,
                        select_price: adSelectPrice.value,
                        select_currency: adSelectCurrency.value,
                        select_measurement: adSelectMeasurement.value,
                    });
                    break;

                case 3:
                    optionsArray.push({
                        id: optionID,
                        is_active: checkbox.checked,
                        lower_price: lowerPrice.value,
                        upper_price: upperPrice.value,
                        select_price: adSelectPrice.value,
                        select_currency: adSelectCurrency.value,
                        select_measurement: adSelectMeasurement.value,
                    });
                    break;

                default:
                    break;
            }
        }
    });

    if (!isOptionsSelected) {
        alert("Options not selected");
        return null;
    }

        const fd = new FormData();
        fd.append("csrfmiddlewaretoken", csrf[0].value);
        fd.append("id", adId.getAttribute('data-id'));
        fd.append("name", name.value);
        fd.append("description", description.value);
		fd.append("image", photoAnnouncement.value);
        fd.append("options", JSON.stringify(optionsArray));

    $.ajax({
        type: "POST",
        url: `/update-announcement/`,
        enctype: "multipart/form-data",
        data: fd,
        success: function (response) {
            location.reload();

        },
        error: function (error) {
            console.log(error);
        },
        cache: false,
        contentType: false,
        processData: false,
    });
});
</script>
{% endblock %}