<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {{ title }} {% endblock %}</title>
    {% block css %}
    <link rel="shortcut icon" href="{% static "img/fav.png" %}" type="image/png">
    <link rel="stylesheet" href="{% static "main.css" %}"> {% endblock %}
</head>

<body>
    <header id="header">{% include "inc/_inc_messages.html" %} {% block header %} {% endblock %}</header>
    <section id="main-content">
        <div class="container">
            <div class="flex__container">
                <div class="sidebar">{% block sidebar%} {% endblock %}</div>
                <div class="page_body">{% block content %} {% endblock %}</div>
            </div>
        </div>
    </section>
    <footer id="footer">{% block footer %} {% endblock %}</footer>

    <div class="popup__wrapper">
        <div class="popup__wrapperInner">
            <div class="popup__content">
                <div class="popup__close-button">+</div>

                <div class="popup__popup-view" id="login-popup">
                    <h3>Войти</h3>

                    <form action="{% url 'main:login' %}" class="login_form flex_form" type="post" id="loginForm">
                        {% csrf_token %}
                        <input type="email" class="form_input" placeholder="Ваш e-mail" id="loginEmail" />

                        <input class="form_input" type="password" id="loginPassword" placeholder="Введите пароль"
                            name="password" />

                        <div class="checkbox-block" style="margin-bottom: 20px">
                            <input id="loginRememberMe" class="form_checkbox" type="checkbox" name="remember-me"
                                value="remember-me" />
                            <label for="loginRememberMe">Запомнить меня</label>
                        </div>

                        <div id="login__errors-block" class="errors-block hidden"></div>

                        <input id="loginSubmit" class="blue_btn form_btn" type="submit" value="Войти"
                            style="margin-bottom: 20px" />
                    </form>

                    <div class="login__links">
                        <a href="#" class="login">Забыли пароль?</a> |
                        <a href="#" class="signup open__register-popup">Регистрация</a>
                    </div>
                </div>

                <div class="popup__popup-view" id="register-popup">
                    <h3>Регистрация</h3>

                    <form action="{% url 'main:register' %}" class="login_form flex_form" type="post"
                        id="registrationForm">
                        {% csrf_token %}

                        <input id="registrationEmail" type="email" class="form_input registration_input"
                            placeholder="Ваш e-mail" />

                        <div class="password">
                            <input class="form_input registration_input" type="password" id="registrationPassword"
                                placeholder="Введите пароль" name="password" />
                            <a href="#" class="showPasswordToggleOne password-control"></a>
                        </div>

                        <div class="password">
                            <input class="form_input registration_input" type="password" id="registrationRePassword"
                                placeholder="Повторите пароль" name="password" />
                            <a href="#" class="showPasswordToggleTwo password-control"></a>
                        </div>

                        <div class="checkbox-block" style="margin-bottom: 20px">
                            <input class="form_checkbox registration_input" id="registrationAgreeCheckbox" type="checkbox"
                                name="remember-me" value="remember-me" />
                            <label for="registrationAgreeCheckbox">Я согласен с условиям <a href="#">Пользовательского
                                    соглашения</a></label>
                        </div>


                        <div class="checkbox-block" style="margin-bottom: 20px">
                            <input class="form_checkbox registration_input" id="registrationAgeCheckbox" type="checkbox"
                                name="remember-me" value="remember-me" />
                            <label for="registrationAgeCheckbox">Мне больше 18 лет</a></label>
                        </div>

                        <div id="registreation__errors-block" class="errors-block hidden"></div>

                        <input id="registration_submit" class="blue_btn form_btn" type="submit"
                            value="Зарегистрироватся" style="margin-bottom: 20px" />
                    </form>

                    <div class="login__links">
                        <a href="#" class="signup open__login-popup">Уже есть аккаунт</a>
                    </div>
                </div>


                <div class="popup__popup-view" id="successed-registeration-popup">
                    <h3>Cпасибо за регистрацию!</h3>
                    <div>Чтобы войти в свой аккаунт подтвердите его с помошью письма на вашей почте</div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
        <script src="{% static 'main.js'%}"></script>
        <script src="https://use.fontawesome.com/61f08ed9ff.js"></script>
</body>

</html>