{% extends 'mainapp/base.html' %}
{% load static %}
{% block header %}
<div class="container">
    <div class="header__top">
        <a href="{% url 'main:main' %}">
            <img src="{% static "img/logo.png" %}" class="header__logo">
        </a>
        <div class="header__links only_mobile">
            <div class="login__links">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <a href="{% url 'main:logout' %}" class="login">Выход</a> |
                <a href="{% url 'admin:index' %}" class="signup">Админ панель</a>
                {% else %}
                <a href="{% url 'main:logout' %}" class="login">Выход</a> |
                <a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="signup">{{ user }}</a>
                {% endif %}
                {% else %}
                <a href="#" class="login myLinkModal">Войти</a> |
                <a href="#" class="signup myLinkModal1">Регистрация</a>
                {% endif %}
            </div>
        </div>
        <div class="header__selectors">
            <select size="1" name="city">
                <option value="0">Все города</option>
                <option value="1">Санкт-Петербург</option>
                <option value="2">Москва</option>
                <option value="3">Краснодар</option>
                <option value="4">Калининград</option>
            </select>
            <select size="1" name="radius">
                <option value="0">Все расстояния</option>
                <option value="1">25 км</option>
                <option value="2">50 км</option>
                <option value="3">150 км</option>
            </select>
            <select size="1" name="face">
                <option value="0">Все</option>
                <option value="1">Юр.лицо</option>
                <option value="2">Физ.лицо</option>
                <option value="3">ИП</option>
            </select>
            <select size="1" name="ch_price">
                <option value="0">Фильтровать по</option>
                <option value="2">Сначала новые</option>
                <option value="1">Сначала старые</option>
                <option value="3">По рейтингу</option>
            </select>
        </div>
    </div>
    <div class="ad_block mobile_top only_mobile">
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="advetisement">
            Админка
        </a>
        {% else %}
        <a href="{% url 'auth:profile' user.uslugeuserprofile.pk %}" class="advetisement">
            Личный кабинет
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'main:main' %}" class="advetisement myLinkModal">
            Личный кабинет
        </a>
        {% endif %}
        <a href="#" class="favorites">
            <img src="{% static "img/heart.png" %}" alt=""
            class="favorites_icon">Избранное
        </a>
    </div>
    <div class="header__bottom">
        <div class="header__links">
            <div class="login__links">
                {% if user.is_authenticated %} {% if user.is_superuser %}
                <a href="{% url 'main:logout' %}" class="login">Выход</a> |
                <a href="{% url 'admin:index' %}" class="signup"
                    >Админ панель</a
                >
                {% else %}
                <a href="{% url 'main:logout' %}" class="login">Выход</a> |
                <a
                    href="{% url 'auth:profile' user.uslugeuserprofile.pk %}"
                    class="signup"
                    >{{ user }}</a
                >
                {% endif %} {% else %}
                <a href="#" class="login myLinkModal">Войти</a> |
                <a href="#" class="signup myLinkModal1">Регистрация</a>
                {% endif %}
            </div>
            <div class="ad_block">
                {% if user.is_authenticated %} {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="advetisement">
                    Админка
                </a>
                {% else %}
                <a
                    href="{% url 'auth:profile' user.uslugeuserprofile.pk %}"
                    class="advetisement"
                >
                    Личный кабинет
                </a>
                {% endif %} {% else %}
                <a
                    href="{% url 'main:main' %}"
                    class="advetisement myLinkModal"
                >
                    Личный кабинет
                </a>
                {% endif %}
            </div>
        </div>
        <form class="header__search_form">
            <input
                class="search_input"
                type="search"
                name="search"
                placeholder="Поиск по объявлениям"
            />
            <input class="white_btn" type="submit" value="Искать" />
        </form>
    </div>
    <form class="header__search_form search_mob only_mobile">
        <input
            class="search_input"
            type="search"
            name="search"
            placeholder="Поиск по объявлениям"
        />
        <input class="white_btn" type="submit" value="Искать" />
    </form>
    <div class="only_mobile flex-mob">
        <select size="1" name="category">
            <option value="0">Все категории</option>
            <option value="1">Ремонт</option>
            <option value="2">Строительство</option>
            <option value="3">Разработка</option>
        </select>
        <a href="#" class="only_mobile bold myLinkModal3">Фильтровать</a>
    </div>
</div>
{% endblock %} {% block sidebar%}
<div class="category__filter">
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
    <a class="filter_attr" href="#">Ремонт</a>
</div>
{% endblock %} {% block content %}
<div class="page_body-top">
    <form class="main__filter" action="#" method="post">
        <select size="1" name="category">
            <option value="0">Все категории</option>
            <option value="1">Ремонт</option>
            <option value="2">Строительство</option>
            <option value="3">Разработка</option>
        </select>
        <select size="1" name="subcategory">
            <option value="0">Все подкатегории</option>
            <option value="1">Ремонт</option>
            <option value="2">Строительство</option>
            <option value="3">Разработка</option>
        </select>
        <input class="blue_btn" type="submit" value="Применить" />
    </form>
    <div class="favorites_link">
        <a href="#" class="favorites">
            <img src="{% static "img/heart.png" %}" alt=""
            class="favorites_icon">Избранное
        </a>
    </div>
</div>
<div class="catalog__block">
    <ul class="main_catalog">
        <li class="catalog_item">
            <a href="detail.html" class="catalog_link">
                <img src="{% static "img/catalog.png" %}" alt=""
                class="catalog_img">
                <h3 class="catalog_title">Ремонт “под ключ”</h3>
                <p class="catalog_description">
                    Ремонт квартир, офисов, нежилых помещений “под ключ”.
                    Составление сметы, договор...
                </p>
            </a>
            <div class="catalog_bottom">
                <p class="catalog_rate">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
                <p class="catalog_com">12 комментариев</p>
            </div>
        </li>
        <li class="catalog_item">
            <a href="detail.html" class="catalog_link">
                <img src="{% static "img/catalog.png" %}" alt=""
                class="catalog_img">
                <h3 class="catalog_title">Ремонт “под ключ”</h3>
                <p class="catalog_description">
                    Ремонт квартир, офисов, нежилых помещений “под ключ”.
                    Составление сметы, договор...
                </p>
            </a>
            <div class="catalog_bottom">
                <p class="catalog_rate">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
                <p class="catalog_com">12 комментариев</p>
            </div>
        </li>
        <li class="catalog_item">
            <a href="detail.html" class="catalog_link">
                <img src="{% static "img/catalog.png" %}" alt=""
                class="catalog_img">
                <h3 class="catalog_title">Ремонт “под ключ”</h3>
                <p class="catalog_description">
                    Ремонт квартир, офисов, нежилых помещений “под ключ”.
                    Составление сметы, договор...
                </p>
            </a>
            <div class="catalog_bottom">
                <p class="catalog_rate">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
                <p class="catalog_com">12 комментариев</p>
            </div>
        </li>
        <li class="catalog_item">
            <a href="detail.html" class="catalog_link">
                <img src="{% static "img/catalog.png" %}" alt=""
                class="catalog_img">
                <h3 class="catalog_title">Ремонт “под ключ”</h3>
                <p class="catalog_description">
                    Ремонт квартир, офисов, нежилых помещений “под ключ”.
                    Составление сметы, договор...
                </p>
            </a>
            <div class="catalog_bottom">
                <p class="catalog_rate">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
                <p class="catalog_com">12 комментариев</p>
            </div>
        </li>
    </ul>
    <div class="subcategory_filter">
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
        <input
            class="subcat_checkbox"
            type="checkbox"
            name="option1"
            value="a1"
        />Шиномонтаж<br />
    </div>
</div>
<div class="map desktop">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.058118409584!2d30.358355016070213!3d59.931177781873465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a5e66d51c5%3A0x6f00589ac258db97!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCz!5e0!3m2!1sru!2sru!4v1613214625240!5m2!1sru!2sru"
        width="80%"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
    ></iframe>
</div>
<div class="map only_mobile">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.058118409584!2d30.358355016070213!3d59.931177781873465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a5e66d51c5%3A0x6f00589ac258db97!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCz!5e0!3m2!1sru!2sru!4v1613214625240!5m2!1sru!2sru"
        width="100%"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
    ></iframe>
</div>
{% endblock %} {% block footer %}
<div class="container">
    <div class="footer__top">
        <a href="{% url 'main:main' %}">
            <img src="{% static "img/logo-white.png" %}" class="header__logo">
        </a>
        <a href="#" class="up_link">Вверх</a>
        <ul class="footer__menu_list">
            <li class="footer__menu_item">Безопасность</li>
            <li class="footer__menu_item">Правила</li>
            <li class="footer__menu_item">Пользовательское соглашение</li>
            <li class="footer__menu_item">Помощь и контакты</li>
            <li class="footer__menu_item">Цены</li>
            <li class="footer__menu_item">О нас</li>
        </ul>
    </div>
    <div class="footer__bottom">
        <p class="all-rights">
            Usluge © {% now "Y" %} by MadiSpace
            <span class="all-rights-span"> All rights reserved </span>
        </p>
    </div>
</div>
{% endblock %}
