{% with request.resolver_match.url_name as url_name %}
<div class="tab">
		  <button class="tablinks {% if url_name == 'announcements' %}active{% endif %}" onclick="location.href = '{% url 'main:announcements' %}'">Мои объявления</button>
		  <button class="tablinks {% if url_name == 'featured-announcements' %}active{% endif %}" onclick="location.href = '{% url 'main:featured-announcements' %}'">Избранные объявления</button>
		  <button class="tablinks {% if url_name == 'place-ad' %}active{% endif %}" onclick="location.href = '{% url 'main:place-ad' user.uslugeuserprofile.pk %}'">Разместить объявление</button>
		  <button class="tablinks {% if url_name == 'editprofile' %}active{% endif %}" onclick="location.href = '{% url 'auth:editprofile' user.uslugeuserprofile.pk %}'">Настройки профиля</button>
</div>
{% endwith %}