@import "./styles/main.scss";
@import "./styles/components/sidebar.scss";
@import "./styles/components/catalog.scss";
@import "./styles/components/map.scss";
@import "./styles/components/footer.scss";
@import "./styles/components/header.scss";
@import "./styles/components/announcment.scss";
@import "./styles/components/comment.scss";
@import "./styles/components/rating.scss";
@import "./styles/components/popup.scss";
@import "./styles/components/checkbox-block.scss";

@import "./styles/colors.scss";
@import "./styles/normalize.scss";
@import "./styles/fonts.scss";
@import "./styles/container.scss";

html {
    background: $bg-main-color;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    display: block;
    padding: 0;
    border: none;
    font: inherit;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

button:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

select:focus,
input:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: $bg-main-color;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba($color: black, $alpha: 0.15);
    border-radius: 2px;
}
