@import "../colors.scss";
@import "../button.scss";

.announcement__info-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;

    .announcement__left-block {
        width: 60%;
        flex-shrink: 0;
        margin-right: 16px;

        .announcement__title {
            font-size: 1.6em;
        }

        .announcement__image-wrapper {
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-bottom: 12px;

            .announcement__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .announcement__description {
            margin-bottom: 0;
        }
    }

    .announcement__right-block {
        flex-grow: 1;

        .announcement__price {
            color: $main-color;
            font-size: 1.2em;
            font-weight: bold;
        }

        .announcement__owner {
            display: flex;

            .announcement__owner-info {
                flex-grow: 1;
            }

            .announcement__owner-image-wrapper {
                flex-shrink: 0;
                position: relative;
                width: 50px;
                height: 50px;

                .announcement__owner-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.announcement__comments-block {
    display: block;
    width: 100%;
    margin: 0;

    .announcement__comments-title {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .announcement__comments-list {
        margin: 0;

        li {
            display: block;
            margin: 0 0 24px;
        }
    }
}

.announcement__leave-comment {
    display: block;
    width: 100%;

    .announcement__leave-comment-title {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .announcement__leave-textarea {
        width: 100%;
        height: 120px;
        color: black;
        padding: 10px 20px;
        border: none;
        background-color: #eeeeee;
        resize: none;
        margin-bottom: 12px;

        &:focus {
            outline: none;
        }
    }

    .announcement__leave-comment-submit {
        @include blue-button;
        margin-top: 20px;
        min-width: 200px;
    }
}

@media (max-width: 700px) {
    .announcement__info-block .announcement__right-block .announcement__owner {
        flex-direction: column-reverse;

        .announcement__owner-image-wrapper {
            margin-bottom: 12px;
        }
    }
}
