.comment {
    .comment__owner-block {
        display: flex;
        align-items: flex-start;
        margin-bottom: 12px;

        .comment__owner-image-wrapper {
            position: relative;
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            margin-right: 16px;

            .comment__owner-image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        .comment__owner-info {
            flex-grow: 1;

            .comment__owner-name {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 8px;
            }
        }
    }

    .comment__text {
        width: 100%;
    }
}
