#footer {
    background: #000;
    color: #fff;
    padding: 30px 0px;
    margin-top: 60px;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .footer__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer__menu-item {
            margin-left: 16px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .up_link {
        color: #fff;
        font-weight: bold;
    }
}

.footer__bottom {
    display: block;
    margin: 0 auto;

    .all-rights {
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;

        span {
            margin-left: 30px;
        }
    }
}

@media (max-width: 1000px) {
    .footer__top,
    .footer__menu {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .all-rights span {
        display: block;
        margin-left: 0;
    }
}
